@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif+JP:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #323d46;
}
body {
    background-color: #f1eeee;
    height: 100vh;
}
nav {
    box-shadow: 0 2px 15px #8a939c42;
}
.container{
    padding-bottom: 2em;
}
.wrapper{
    width: 45%;
    margin: 5em auto;
    padding: 2em 4em;
    border-radius: 10px;
    box-sizing: content-box;
    background-color: #fff;
    box-shadow: 0px 0px 15px #d8a3478a;
}
.header{
    margin-bottom: .8em;
    text-align: center;
}
.error, .info{
    color: rgb(255, 64, 16);
    font-size: .9em;
    margin-bottom: 1em;
    text-align: center;
}
.info {
    color: rgb(202, 211, 21);
}
.small{
    font-size: .8em;
}
.btn-custom{
    background-color: #d8a347;
    border-color: transparent;
}
.btn-custom:hover{
    color: #fff;
    background-color: #daa13ee8;
    box-shadow: 0 0 8px #d8a3478a;
    border-color: transparent;
}
.icon{
    font-size: 3em;
    text-align: center;
    margin: .4em 0 .4em 0;
}
.dashboard, .search{
    text-align: center;
}
.search{
    padding: .5em 0;
}
.search-btn{
    margin-top: .5em;
}
.header.dashboard{
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: .5em;
}
.description{
    font-size: .9em;
    color: rgb(202, 211, 21);
    margin-bottom: 1em;
}
.description * {
    font-family: 'Quicksand', serif;
}
.description .colored{
    color: rgb(202, 211, 21);
    font-weight: 500;
}
.card-subtitle{
    font-size: .9em;
    font-family: 'Noto Serif JP', serif;
}
.card-subtitle::before{
    content: "\2014\00A0";
}
.card-link{
    color: rgb(202, 211, 21);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.card-link:hover{
    color: rgb(141, 148, 17);
}
.header.search{
    margin-top: 1em;
    font-family: 'Quicksand', serif;
}
.search.wide{
    width: 70%;
}
.no-result{
    font-size: 1.2em;
}
.sad-icon > i{
    font-size: 6em;
    margin-bottom: .2em;
}
form.search{
    justify-content: center;
}
.card.card.book-card{
    transition: transform .07s ease-in-out;
    margin-bottom: 1em;
}
.card.book-card:hover{
    box-shadow: 0 0 10px #8a939c42;
    transform: scale(1.02);
}
.container.search{
    width: 70%;
}
.book-details{
    margin: 1em auto;
    padding: 2em 4em;
    border-radius: 4px;
    box-sizing: content-box;
    background-color: #fff;
}
.book-details > h3 {
    font-size: 1.1em;
    font-family: 'Quicksand', serif;
}
.book-details h3 .text-muted, .your-review p span.text-muted, .review p span.text-muted, .post-review label.text-muted{
    margin-right: .5em;
    font-size: .8em;
    font-family: 'Quicksand', serif;
    color: rgb(141, 148, 17)!important;
    font-weight: 500;
}
.book-details .btn-custom {
    margin-top: 1em;
}
.reviews h2{
    margin-bottom: .8em;
}
.review, .your-review{
    padding: 1em 2em;
    border-radius: 5px;
    margin-bottom: 1em;
}
.review{
    border-bottom: 1px solid #f1eeee;
}
.review *, .your-review *, .no-user *{
    font-family: 'Quicksand', serif;
    font-weight: 500;
}
.review .star-icon i, .your-review .star-icon i{
    font-family: 'Fontawesome';
}
.your-review h3{
    color: rgb(34, 34, 34);
    font-size: 1em;
    margin-bottom: 1em;
}
.your-review p{
    line-height: 1.2;
}
.your-review, .post-review{
    background-color: #8d94111a;
}
.post-review{
    padding: 1em 2em;
    border-radius: 5px;
    margin-bottom: 1em;
}
.star-icon i{
    color: #cad315;
    font-size: .9em;
}
.no-review{
    font-size: 1.2em;
    text-align: center;
}
.no-user a{
    color: #d8a347;
}
.no-user{
    text-align: center;
}
.nav-link{
    font-family: 'Quicksand', serif;
}
.navbar-brand{
    font-family: 'Noto Serif JP', serif;
    letter-spacing: -2px;
    font-weight: 500;
    font-size: 1.5em;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
    color: #d8a347;
}
.hero{
    text-align: center;
}
.book-icon{
    margin-top: 2em;
}
.book-icon i{
    font-size: 8em;
    color: rgb(202, 211, 21);
}
.desc{
    margin-top: 1em;
}
.desc * {
    font-family: 'Quicksand', serif;
}
.colored{
    color: #d8a347;
    font-weight: 500;
}
.container.main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search.index{
    padding: 0;
}
.search.index .search-btn{
    margin-top: 1.2em;
}